@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

:root {
    --background: #F0E2C7;
    --nav-brown: #B17F59;
    --thomas-white: #F0EFF2;
    --flamingo-pink: #FFB6C1;
    --ruas-red: #C91F1F;
    --jade-green: #7EE572;
    --christa-yellow: #FCF457;
    --skye-blue: #7CC1EC;
    --font-blue: #003340;
    --purple: #DDAEFE;

    --headers: "Permanent Marker", sans-serif;
    --paragraph: "Indie Flower", sans-serif;
}

@theme {
    /* Hoofd kleuren */
    --color-background: var(--background);
    --color-nav-brown: var(--nav-brown);
    --color-bg-white: var(--thomas-white);
    --color-punaise: var(--ruas-red);
    --color-border-punaise: #7c1313;
    --color-primary: var(--skye-blue);
    --color-secondary: var(--jade-green);
    --color-tertiary: var(--christa-yellow);
    --color-quaternary: var(--flamingo-pink);
    /* Overige kleuren */
    --color-button-purple: var(--purple);
    --color-deadline-red: #E57472;

    /* theme stuff */
    --color-default-1: var(--skye-blue);
    --color-default-2: var(--jade-green);
    --color-default-3: var(--christa-yellow);
    --color-default-4: var(--flamingo-pink);
    --color-default-5: var(--purple);

    --color-natural-1: #eee4e1;
    --color-natural-2: #e7d8c9;
    --color-natural-3: #e6beae;
    --color-natural-4: #b2967d;
    --color-natural-5: #ecf8f8;

    --color-dark-1: #45040c;
    --color-dark-2: #720714;
    --color-dark-3: #2e2e2e;
    --color-dark-4: #12562a;
    --color-dark-5: #063a21;
}

@theme inline {
    --color-background: var(--color-background);
    --color-bg-white: var(--color-bg-white);
    --color-primary: var(--color-primary);
    --color-secondary: var(--color-secondary);
    --color-tertiary: var(--color-tertiary);
    --color-quaternary: var(--color-quaternary);
    --color-button-purple: var(--color-button-purple);

    --color-text: var(--color-text);
    --color-deadline-red: var(--color-deadline-red);

    --font-headers: var(--font-headers);
    --font-paragraph: var(--font-paragraph);
}

.theme-default {
    --color-background: var(--background);
    --color-bg-white: var(--thomas-white);
    --color-primary: var(--skye-blue);
    --color-secondary: var(--jade-green);
    --color-tertiary: var(--christa-yellow);
    --color-quaternary: var(--flamingo-pink);
    --color-button-purple: var(--purple);

    --color-text: var(--font-blue);
    --color-deadline-red: #E57472;
}

.theme-natural {
    --color-background: #dac9aa;
    --color-bg-white: var(--thomas-white);
    --color-primary: var(--color-natural-1);
    --color-secondary: var(--color-natural-2);
    --color-tertiary: var(--color-natural-3);
    --color-quaternary: var(--color-natural-4);
    --color-button-purple: var(--color-natural-5);

    --color-text: var(--font-blue);
    --color-deadline-red: #E57472;
}

.theme-dark {
    --color-background: #c1b295;
    --color-bg-white: #686767;
    --color-primary: var(--color-dark-1);
    --color-secondary: var(--color-dark-2);
    --color-tertiary: var(--color-dark-3);
    --color-quaternary: var(--color-dark-4);
    --color-button-purple: var(--color-dark-4);

    --color-text: #f6f4f4;
    --color-deadline-red: #a84747;
}

.font-default {
    --font-headers: var(--headers);
    --font-paragraph: var(--paragraph);
}

.font-simple {
    --font-headers: "DynaPuff", sans-serif;
    --font-paragraph: "Comic Neue", sans-serif;
}

/* dit is voor het testen van WCAG 1.4.12 Text Spacing */
/** {*/
/*    line-height: 1.5 !important;*/
/*    letter-spacing: 0.12em !important;*/
/*    word-spacing: 0.16em !important;*/
/*}*/

/*p {*/
/*    margin-bottom: 2em !important;*/
/*}*/