@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";

:root {
    --background: #F0E2C7;
    --nav-brown: #B17F59;
    --thomas-white: #F0EFF2;
    --flamingo-pink: #FFB6C1;
    --ruas-red: #C91F1F;
    --jade-green: #7EE572;
    --christa-yellow: #FCF457;
    --skye-blue: #7CC1EC;
    --font-blue: #003340;
    --purple: #DDAEFE;

    --headers: "Permanent Marker", sans-serif;
    --paragraph: "Indie Flower", sans-serif;
}

@theme {
    /* Hoofd kleuren */
    --color-background: var(--background);
    --color-nav-brown: var(--nav-brown);
    --color-bg-white: var(--thomas-white);
    --color-punaise: var(--ruas-red);
    --color-border-punaise: #7c1313;
    --color-primary: var(--skye-blue);
    --color-secondary: var(--jade-green);
    --color-tertiary: var(--christa-yellow);
    --color-quaternary: var(--flamingo-pink);
    /* Overige kleuren */
    --color-button-purple: var(--purple);
    --color-deadline-red: #E57472;
    /* Tekst dingen */
    /*--color-text: var(--font-blue);*/
    /*--font-headers: var(--headers);*/
    /*--font-paragraph: var(--paragraph);*/
}

@theme inline {
    --color-background: var(--color-background);
    --color-bg-white: var(--color-bg-white);
    --color-primary: var(--color-primary);
    --color-secondary: var(--color-secondary);
    --color-tertiary: var(--color-tertiary);
    --color-quaternary: var(--color-quaternary);
    --color-button-purple: var(--color-button-purple);

    --color-text: var(--color-text);
    --color-deadline-red: var(--color-deadline-red);

    --font-headers: var(--font-headers);
    --font-paragraph: var(--font-paragraph);
}

.theme-default {
    --color-background: var(--background);
    --color-bg-white: var(--thomas-white);
    --color-primary: var(--skye-blue);
    --color-secondary: var(--jade-green);
    --color-tertiary: var(--christa-yellow);
    --color-quaternary: var(--flamingo-pink);
    --color-button-purple: var(--purple);

    --color-text: var(--font-blue);
    --color-deadline-red: #E57472;
}

.theme-natural {
    --color-background: #dac9aa;
    --color-bg-white: var(--thomas-white);
    --color-primary: #def2c8;
    --color-secondary: #c5dac1;
    --color-tertiary: #bcd0c7;
    --color-quaternary: #a9b2ac;
    --color-button-purple: #ccccc1;

    --color-text: var(--font-blue);
    --color-deadline-red: #E57472;
}

.theme-dark {
    --color-background: #dac9aa;
    --color-bg-white: #686767;
    --color-primary: #45040c;
    --color-secondary: #720714;
    --color-tertiary: #000000;
    --color-quaternary: #12562a;
    --color-button-purple: #063a21;

    --color-text: #f6f4f4;
    --color-deadline-red: #a84747;
}

.font-default {
    --font-headers: var(--headers);
    --font-paragraph: var(--paragraph);
}

.font-simple {
    --font-headers: "DynaPuff", sans-serif;
    --font-paragraph: "Comic Neue", sans-serif;
}

/* dit is voor het testen van WCAG 1.4.12 Text Spacing */
/** {*/
/*    line-height: 1.5 !important;*/
/*    letter-spacing: 0.12em !important;*/
/*    word-spacing: 0.16em !important;*/
/*}*/

/*p {*/
/*    margin-bottom: 2em !important;*/
/*}*/